.sg-colors {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.colorscheme,
.media {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.color p {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.colorblock {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.styleguide-h {
  color: white;
}
